.content-fields {
  background-color: #63a9ff;
  border-radius: 13px;
  padding: 31px 30px;
  opacity: 1;
  transition: opacity 0.3ms ease-in-out;

  &.do-opacity {
    opacity: 0.5;
    transition: opacity 0.3ms ease-in-out;
  }
}
