.description-card {
  position: relative;
  font-family: monospace;
  border-radius: 8px;
  background-color: #FFF;
  padding: 31px;
  text-align: left;
  color: #a5a5a5;
  margin: 0 10px;
  line-height: 1.5;
  box-shadow: 0 0px 50px rgba(0,0,0,0.05);

  img {
    width: 5.4em;
    position: absolute;
    top: -34px;
    left: 30px;
  }

  h2 {
    font-size: 1.4em;
    margin-top: 37px;
  }

  hr {
    width: 3em;
    padding: 0px;
    margin: 0px;
   
  }
}
