.header-app {
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  background-color: #4e9aff;
  top: 0px;
  z-index: 1;

  .content-options {
    @media screen and (min-width: 767px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 13%;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 5px;

      @media screen and (max-width: 744px) {
        border-bottom: 1px solid #fff;
        margin: 3px;
        padding: 1em;
      }

      a {
        text-decoration: none;
        font-size: 1em;
        padding: 3px;
        color: #fff;
        cursor: pointer;
        opacity: 0.8;

        @media screen and (max-width: 744px) {
          margin: 1.5em;
        }

        &.active {
          font-weight: 600;
          opacity: 1;
        }
      }
    }
  }

  img {
    height: 50px;

    @media screen and (max-width: 766px) {
      float: left;
      padding-left: 1.5em;
    }
  }

  @media screen and (max-width: 744px) {
    padding-bottom: 0;
  }
}

.header-app ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

/* menu */
.header-app .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: #4e9aff;
}

.header-app .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header-app .menu-icon .navicon {
  background-color: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 18px;
}

.header-app .menu-icon .navicon:before,
.header-app .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header-app .menu-icon .navicon:before {
  top: 5px;
}

.header-app .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */

.header-app .menu-btn {
  display: none;
}

.header-app .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header-app .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header-app .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header-app .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header-app .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header-app .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header-app li {
    float: left;
  }
  .header-app li a {
    padding: 20px 30px;
  }
  .header-app .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header-app .menu-icon {
    display: none;
  }
}
