.header-app {
  display: flex;
  justify-content: space-between;
  padding: 21px 9%;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin: 5px;

      a {
        color: #000;
        text-decoration: none;
        font-size: 1em;
        padding: 3px;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  img {
    height: 50px;
  }
}
