.footer {
  color: #63a9ff;
  padding-bottom: 10em;
  line-height: 1.5;

  div {
    font-size: 1.4em;
    margin: 3px;
  }

  .small {
    font-size: 1.2em;
  }

  .diga-message {
    font-style: italic;
    font-weight: 600;
  }

  img {
    height: 8em;
  }

  .m-t-lg {
    margin-top: 20px;
  }
}
