.footer {
    color: #63a9ff;
    padding-bottom: 10em;
    line-height: 1.5;

    div {
        font-size: 1.4em;
    }

    .small {
        font-size: 1.2em;
    }

    .diga-message {
        font-style: italic;
        font-weight: 600;
    }

    img {
        height: 50px;
    }
}